.shop-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  margin-bottom: 100px;
}

.products-container{
  margin-top: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 0;
}

.cart-container{
  width: 335px;
  margin-top: 10px;
  border: 1px solid #007bc7;
  border-radius: 8px;
  background-color: rgba(19, 170, 190, 0.2);
}

@media screen and (max-width: 576px) {
  .products-container{
    grid-template-columns: repeat(1, 1fr);
  }
}