.product{
  width: 320px;
  height: 450px;
  border: 1px solid #007bc7;
  border-radius: 8px;
  position: relative;
}

.product img{
  width: 285px;
  height: 285px;
  border-radius: 8px;
  margin: 17px;
}

.product-name{
  color: #0E161A;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin: 7px;
}

.btn-cart{
  width: 100%;
  color: white;
  background-color: #0277BD;
  border: none;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-cart:hover{
  background-color: #2196F3;
  color: white;
}